
.box{width: 322px;
    padding: 10px;
    border: 1px solid gray;
    margin: 0; 
      box-shadow: 1px 1px 2px grey
	 ;
	 
	
}
.nutherbox{width: 298px;
    padding: 10px;
    border: 2px solid grey;
    margin: 0; 
     }
.text{ font-family: arial;
    width: 298px;
    padding: 10px;
    margin: 0;
	text-align: justify;
    text-justify: inter-word;
}	
	 
	 
.span{ font-weight: bold;}

.nobullet{ list-style-type: none;
           font-style: italic;
           text-align: justify;
           text-justify: inter-word;}

.img{ width: 298px;
    padding: 10px;
   border: ; -
    margin: 0;
    position: relative;
    left: 40px;
	}
	
.descriptor{font-style: italic;
            text-align: justify;
            text-justify: inter-word;  }